---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h3 class="post-category">{{ post.p-category }}</h3>
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
      <h4 class="post-date">{{ post.date | date_to_string }}</h4>
    </h1>
    <!-- Content --> 
    {{ post.content | truncatewords: 50 }}

    <p><a href="{{ post.url }}">Read more</a></p>

    <!-- Authors -->
    {% assign author = site.data.authors[post.author] %}
    {% assign author2 = site.data.authors[post.author2] %}
    {% assign author3 = site.data.authors[post.author3] %}

    <div class="post-authors">
      <span>
        {% if author %}
          <img class="author-avatar" alt="{{ author.name }}" src="/public/images/team/{{ author.avatar }}">
        {% endif %}

        {% if author2 %}
          <img class="author-avatar" alt="{{ author2.name }}" src="/public/images/team/{{ author2.avatar }}">
        {% endif %}

        {% if author3 %}
          <img class="author-avatar" alt="{{ author3.name }}" src="/public/images/team/{{ author3.avatar }}">
        {% endif %}
      </span>
    </div>
    <hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

