<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://eyecuelab.com/#discovery">Protocols</a>
    <a class="sidebar-nav-item" href="http://eyecuelab.com/#clients">Clients</a>
    <a class="sidebar-nav-item" href="http://eyecuelab.com/#team">Staff</a>
    <a class="sidebar-nav-item" href="http://eyecuelab.com/#contact">Contact</a>
    <a class="sidebar-nav-item active" href="{{ site.baseurl }}">Notebook</a>
  </nav>

</div>
